<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cbkj_core.mapper.AdminRuleMapper">
  <resultMap id="BaseResultMap" type="com.example.cbkj_core.beans.AdminRule">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="rname" jdbcType="VARCHAR" property="rname" />
    <result column="rdescr" jdbcType="VARCHAR" property="rdescr" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="rname_zh" jdbcType="VARCHAR" property="rnameZh" />
  </resultMap>
  <sql id="Base_Column_List">
    rid, rname, rdescr, create_date, admin_id, rname_zh
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin_rule
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin_rule
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.cbkj_core.beans.AdminRule">
    insert into admin_rule (rid, rname, rdescr, 
      create_date, admin_id, rname_zh
      )
    values (#{rid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{rdescr,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{adminId,jdbcType=INTEGER}, #{rnameZh,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.cbkj_core.beans.AdminRule">
    insert into admin_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="rname != null">
        rname,
      </if>
      <if test="rdescr != null">
        rdescr,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="rnameZh != null">
        rname_zh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="rname != null">
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rdescr != null">
        #{rdescr,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="rnameZh != null">
        #{rnameZh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.cbkj_core.beans.AdminRule">
    update admin_rule
    <set>
      <if test="rname != null">
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rdescr != null">
        rdescr = #{rdescr,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="rnameZh != null">
        rname_zh = #{rnameZh,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.cbkj_core.beans.AdminRule">
    update admin_rule
    set rname = #{rname,jdbcType=VARCHAR},
      rdescr = #{rdescr,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      admin_id = #{adminId,jdbcType=INTEGER},
      rname_zh = #{rnameZh,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
</mapper>