<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cbkj_core.mapper.AdminMenuMapper">
  <resultMap id="BaseResultMap" type="com.example.cbkj_core.beans.AdminMenu">
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="iconCls" jdbcType="VARCHAR" property="iconcls" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="parent_mid" jdbcType="INTEGER" property="parentMid" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="cteate_id" jdbcType="VARCHAR" property="cteateId" />

    <result column="menu_type" jdbcType="VARCHAR" property="menuType" />
    <result column="btn_class" jdbcType="VARCHAR" property="btnClass" />
    <result column="btn_type" jdbcType="VARCHAR" property="btnType" />

    <collection property="rules" ofType="com.example.cbkj_core.beans.AdminRule">
      <id column="rid" property="rid"/>
      <result column="rname" property="rname"/>
      <result column="rname_zh" property="rnameZh"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    mid, mname, url, path, iconCls, enabled, parent_mid, create_date, cteate_id,menu_type,btn_class,btn_type
  </sql>

  <resultMap id="menuMap" type="Menu">
      <id column="pid" jdbcType="INTEGER" property="pid" ></id>
      <result column="title" jdbcType="VARCHAR" property="title"></result>
      <result column="url" jdbcType="VARCHAR" property="url"></result>
      <result column="href" jdbcType="VARCHAR" property="href"></result>
      <result column="icon" jdbcType="VARCHAR" property="icon"></result>
      <result column="parent_mid" jdbcType="VARCHAR" property="parent_mid"></result>

  </resultMap>

  <select id="getMenuByPID" parameterType="Map" resultMap="menuMap">
       select m.mid pid, m.mname title, m.url, m.path as href, m.iconCls icon, m.parent_mid from admin_menu m
       ,admin_rule_menu rm
       ,admin_info_rule ur
       ,admin_info u
       where m.mid = rm.mid  and rm.rid = ur.rid and ur.admin_id = #{uid} and m.enabled =2

       <if test="parent_mid != null">
         and m.parent_mid = #{parent_mid}
       </if>
       GROUP BY m.mid
  </select>

  <select id="getAllMenu" resultMap="BaseResultMap">
        select m.*,r.rid,r.rname,r.rname_zh from admin_menu m
        left join admin_rule_menu mr on m.`mid`= mr.`mid`
        left join admin_rule r on mr.`rid`= r.`rid` WHERE m.`enabled`=2
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin_menu
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin_menu
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.cbkj_core.beans.AdminMenu">
    insert into admin_menu ( mname, url,
      path, iconCls, enabled, 
      parent_mid, create_date, cteate_id,menu_type,btn_class,btn_type
      )
    values ( #{mname,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
      #{path,jdbcType=VARCHAR}, #{iconcls,jdbcType=VARCHAR}, #{enabled,jdbcType=INTEGER}, 
      #{parentMid,jdbcType=INTEGER}, now(), #{cteateId,jdbcType=VARCHAR},#{menuType},#{btnClass},#{btnType}
      )
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.example.cbkj_core.beans.AdminMenu">
    update admin_menu
    set mname = #{mname,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      iconCls = #{iconcls,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=INTEGER},
      parent_mid = #{parentMid,jdbcType=INTEGER},
      menu_type =#{menuType},
      btn_type = #{btnType},
      btn_class =#{btnClass}
    where mid = #{mid,jdbcType=INTEGER}
  </update>

  <select id="selectAllMenu" resultType="Map">
      select mid,mname,iconCls,parent_mid from admin_menu where enabled = 2
  </select>


  <select id="selectAllMenuByM" resultType="Map">
      select mid,mname,iconCls,parent_mid from admin_menu where enabled = 2 and menu_type =1
  </select>

  <select id="getMenuByRid" resultType="Map" parameterType="String">
      select rmid,mid,rid from admin_rule_menu where rid =#{rid}
  </select>


  <delete id="deleteRmByRid" parameterType="String">
    delete from  admin_rule_menu where rid=#{rid}
  </delete>

  <insert id="insertListM" parameterType="List">
     insert into admin_rule_menu (rmid,rid,mid) values
     <foreach collection="list" item="item" index="index" separator=",">
       (#{item.rmid},#{item.rid},#{item.mid})
     </foreach>

  </insert>

  <select id="getPageDatas" parameterType="AdminMenu" resultType="Map">
       SELECT  m.mid, m.mname, m.url, m.path, m.iconCls, m.enabled, m.parent_mid, m.create_date, m.cteate_id,
      m.menu_type,m.btn_class,m.btn_type,a.name AS createName,b.mname parentName FROM admin_menu m
      LEFT JOIN admin_info a ON m.cteate_id = a.id
      LEFT JOIN admin_menu b ON b.mid = m.parent_mid
      where 1=1
      <if test="mname != null and mname.length > 0">
        and m.mname like CONCAT('%',trim(#{mname}),'%')
      </if>

  </select>
</mapper>