<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cbkj_core.mapper.AdminRuleMapper">
  <resultMap id="BaseResultMap" type="com.example.cbkj_core.beans.AdminRule">
    <id column="rid" jdbcType="VARCHAR" property="rid" />
    <result column="rname" jdbcType="VARCHAR" property="rname" />
    <result column="rdescr" jdbcType="VARCHAR" property="rdescr" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
    <result column="rname_zh" jdbcType="VARCHAR" property="rnameZh" />
    <result column="index_url" jdbcType="VARCHAR" property="indexUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    rid, rname, rdescr, create_date, admin_id, rname_zh,index_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin_rule
    where rid = #{rid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from admin_rule
    where rid = #{ids}
  </delete>
  <insert id="insert" parameterType="com.example.cbkj_core.beans.AdminRule">
    insert into admin_rule (rid, rname, rdescr, 
      create_date, admin_id, rname_zh,index_url
      )
    values (#{rid,jdbcType=VARCHAR}, #{rname,jdbcType=VARCHAR}, #{rdescr,jdbcType=VARCHAR},
      now(), #{adminId,jdbcType=VARCHAR}, #{rnameZh,jdbcType=VARCHAR}
      ,#{indexUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.cbkj_core.beans.AdminRule">
    insert into admin_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="rname != null">
        rname,
      </if>
      <if test="rdescr != null">
        rdescr,
      </if>

      <if test="adminId != null">
        admin_id,
      </if>
      <if test="rnameZh != null">
        rname_zh,
      </if>
      <if test="indexUrl != null">
        index_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=VARCHAR},
      </if>
      <if test="rname != null">
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rdescr != null">
        #{rdescr,jdbcType=VARCHAR},
      </if>

      <if test="adminId != null">
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="rnameZh != null">
        #{rnameZh,jdbcType=VARCHAR},
      </if>
      <if test="indexUrl != null">
        #{indexUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.cbkj_core.beans.AdminRule">
    update admin_rule
    <set>
      <if test="rname != null">
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rdescr != null">
        rdescr = #{rdescr,jdbcType=VARCHAR},
      </if>

      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="rnameZh != null">
        rname_zh = #{rnameZh,jdbcType=VARCHAR},
      </if>
      <if test="indexUrl != null">
        index_url = #{indexUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.cbkj_core.beans.AdminRule">
    update admin_rule
    set rname = #{rname,jdbcType=VARCHAR},
      rdescr = #{rdescr,jdbcType=VARCHAR},
      rname_zh = #{rnameZh,jdbcType=VARCHAR},
      index_url = #{indexUrl,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=VARCHAR}
  </update>

  <select id="getPageDatas" parameterType="AdminRule" resultType="Map">
     select r.rid, r.rname, r.rdescr, r.create_date, r.admin_id, r.rname_zh,r.index_url
     ,a.name createName
     from admin_rule r,admin_info a where a.id = r.admin_id
     <if test="rname != null and rname.length()>0">
       and r.rname_zh like CONCAT('%',trim(#{rname}),'%')
     </if>
  </select>

  <select id="getRuleRelesCount" parameterType="String" resultType="Long">
    select count(1) cun from admin_info_rule where rid = #{ids}
  </select>

  <delete id="deleteRuleMenuByRid" parameterType="java.lang.String">
    delete from admin_info_rule
    where rid = #{ids}
  </delete>
</mapper>