body{
    margin:0px;
    padding:0px;
    font-family: "Microsoft YaHei UI";
}
.layui-form-checked[lay-skin=primary] i {
    border-color: #3C8DBC;
    background-color: #3C8DBC;
    color: #fff;
}
.layui-form-checkbox[lay-skin=primary]:hover i{border-color:#3C8DBC;color:#fff}
/*.layui-form-checked,.layui-form-checked:hover{border-color:#3C8DBC}*/
/*.layui-form-checked span,.layui-form-checked:hover span{background-color:#3C8DBC}*/
/*.layui-form-checked i,.layui-form-checked:hover i{color:#3C8DBC}*/
/*.layui-form-checked:hover{border-color:#3C8DBC}*/