<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title th:replace="../templates/common :: commonHeand('请求错误')"></title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/error.css}"/>

</head>
<body class="beg-login-bg">
<h1>请求发生错误，状态码400</h1>
</body>
</html>